services:
  supabase:
    image: supabase/postgres:15.0.0
    volumes:
      - ./supabase_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: open_notebook
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    restart: always
  open_notebook:
    image: lfnovo/open_notebook:v1-latest
    ports:
      - "8502:8502"
      - "5055:5055"
    env_file:
      - ./docker.env
    depends_on:
      - supabase
    volumes:
      - ./notebook_data:/app/data
    restart: always
