services:
  open_notebook:
    image: lfnovo/open_notebook:v1-latest
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    ports:
      - "8502:8502"
      - "5055:5055"
    env_file:
      - ./docker.env
    volumes:
      - ./notebook_data:/app/data
    restart: always
